.RootLayout {
    padding: 16px 64px;
    display: flex;
    flex-direction: column;
    background-color: rgb(87, 110, 125);

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            font-weight: bold;
            gap: 8px;

            img {
                width: 32px;
                height: 32px;
            }
        }
    }
    main {
        flex: 1;
        overflow: hidden ;
    }
}

