/* loginPage.css */

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    
}

.loginPage-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    border-radius: 20px; /* Curved edges */
    box-shadow: 0 8px 16px rgba(2, 47, 92, 0.4);
    height: 50%;
}

.loginPage-container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.loginPage-form {
    display: flex;
    flex-direction: column;
}

.loginPage-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.loginPage-form button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.loginPage-form button:hover {
    background-color: #0056b3;
}

.loginPage-link {
    margin-top: 15px;
    font-size: 14px;
}

.loginPage-link a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.loginPage-link a:hover {
    text-decoration: underline;
}
