/* General Page Styling */
.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eaf5fb; /* Soft Blue */
    border-radius: 20px;
}

/* Container for Content */
.home-container {
    width: 90%;
    max-width: 1200px;
    padding: 30px;
    border-radius: 20px; /* Curved edges */
    box-shadow: 0 8px 16px rgba(2, 47, 92, 0.4);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #adc5ec;
}

.logoH {
    font-size: 1.5rem;
    font-weight: bold;
   
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #007bff;
}

/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

/* Left Side Text */
.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 2.5rem;
    color: #333;
}

.hero-text p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}



/* Get Started Button */
.explore-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #007bff;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.explore-button:hover {
    background-color: #0056b3;
    color: #eaf4f9;
}

/* Right Side Image */
.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        margin-bottom: 20px;
    }

    .hero-image img {
        width: 80%;
    }
}
