.button-dash {
    margin-top: 20px;
    text-align: center;
}

.button-dash button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-dash button:hover {
    background-color: #0056b3;
}
