h2 {
  align-content: center;
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.ExpenseWrapper {
  background: #1A1A40;
  padding: 3rem;
}

.ExpenseForm {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
}

.expense-input {
  width: 50%;
  min-width: 150px;
  flex:1;
  outline: none;
  background: none;
  border: 1px solid 	#11680c;
  padding: 0.5rem 1rem;
  /* width: 300px; */
  color: #fff;
}

.expense-input::placeholder {
  color: #ffffff4d;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

.expense-btn {
  background: #11680c;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Expense {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: 	#089000;
  color: #fff;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

.input-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* background-color: red; */
}
