
.FinancialWrapper {
    background: #1A1A40;
    padding: 3rem;
    flex: auto;
    flex-direction: column;
    /* background-color: red; */
  }

.financial-textarea{
    width: 100%;
    height:250px;
    resize:vertical;
    outline: none;
    background: lightgrey;
    border: 1px solid black;
    padding: 0.5rem 1rem;
    
}

.expense-textarea::placeholder {
    color: lightgrey;
}

.financial-btn{
    background: #11680c;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    width: 100%;
    
}
