.IncomeWrapper {
    background: #1A1A40;
    padding: 3rem;
    /* background-color: red; */

  }

label{
    color: white;
}

.timeUnit-select {
    background: none;
    border: 1px solid #11680c;
    padding: 0.5rem;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.timeUnit-select option {
    background: #1A1A40;
    color: #fff;
}

.income-container{
    padding: 1em;
    display:flex;
    flex-direction: row;
    gap:10px;
    width: 100%;
    align-items: center;
    /* background-color: red; */
}

.income-item{
    flex:1;
    display:flex;
    align-items: center;
    gap:5px;
}
.income-input {
    flex:1;
    min-width: 150px;
    outline: none;
    background: none;
    border: 1px solid 	#11680c;
    padding: 0.5rem 1rem;
    /* width: 300px; */
    color: #fff;
  }
  
  .income-input::placeholder {
    color: #ffffff4d;
  }